<div class="row">
  <div class="col s12">
    <div class="card amber accent-1">
      <div class="section-card-title">
        <span class="card-title white-text">Products Views</span>
      </div>
      <div class="card-content">
        <%= bar_chart Visit.group(:product_id).count, colors: ["white"] %>
      </div>
    </div>
  </div>
</div>

<!-- beginning row -->
<div class="row">

  <div class="col s6">
    <div class="card amber accent-1">
      <div class="section-card-title">
        <span class="card-title white-text">User Location</span>
      </div>
      <div class="card-content">
        <%= pie_chart Visit.group(:country).count, donut: true %>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card amber accent-1">
      <div class="section-card-title">
        <span class="card-title white-text">Visitor Timeline</span>
      </div>
      <div class="card-content">
        <%= line_chart Visit.group(:created_at).count %>
      </div>
    </div>
  </div>

</div>
<!-- ending row -->

<!-- beginning row -->
<div class="row">

  <div class="col s6">
    <div class="card amber accent-1">
      <div class="section-card-title">
        <span class="card-title white-text">Total User Visits</span>
      </div>
      <div class="card-content">
        <%= area_chart Visit.group(:user_id).count %>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card amber accent-1">
      <div class="section-card-title">
        <span class="card-title white-text">User Device OS</span>
      </div>
      <div class="card-content">
        <%= bar_chart User.group(:device_os).count %>
      </div>
    </div>
  </div>

</div>
<!-- ending row -->