<div ng-app="app">
  <div ng-controller="indexCtrl" ng-init="dashboardIndexSetup()">

  <!-- for medium and small -->
  <!-- beginning row -->
  <div class="row hide-on-large-only">
    <div class="col s12 m12 l12">

      <div class="card center-align">
        <div class="section-card-title" style="border:0">
          <span class="card-title">Quick Stats</span>
        </div>
        
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header">Total Visits</div>
            <div class="collapsible-body">
              <h5 class="center-align visit_count" ><%= @visit_count %></h5>
            </div>
          </li>

          <li>
            <div class="collapsible-header">Total Unique Visitors</div>
            <div class="collapsible-body">
              <h5 class="center-align user_count"><%= @user_count %></h5>
            </div>
          </li>

          <li>
            <div class="collapsible-header">Most Viewed Product</div>
            <div class="collapsible-body">
              <h5 class="center-align most_viewed_product"><%= @most_viewed_product %></h5>
            </div>
          </li>

          <li>
            <div class="collapsible-header">Most Purchased Product</div>
            <div class="collapsible-body">
              <h5 class="center-align"><%= @most_purchased_product %></h5>
            </div>
          </li>

          <li>
            <div class="collapsible-header">Conversion Rate</div>
            <div class="collapsible-body">
              <h5 class="center-align"><%= @conversion_rate %></h5>
            </div>
          </li>

          <li>
            <div class="collapsible-header">Total Revenue</div>
            <div class="collapsible-body">
              <h5 class="center-align"><%= number_to_currency(@total_revenue) %></h5>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!-- ending row -->

  <!-- for large only -->
  <!-- beginning row -->
  <div class="row hide-on-med-and-down" style="margin-bottom: 4px">
    <div class="col s12 m4 l4">

      <!-- quick stat cards -->
      <div class="row" style="margin-bottom:0">

        <div class="card center-align">
          <div class="section-card-title">
            <span class="card-title">Quick Stats</span>
          </div>
          
          <div class="col s12 m4 l4 quick-stats-card">
            <div>Total Website Visits:</div>
            <h5 class="visit_count"><%= @visit_count %></h5>
          </div>

          <div class="col s12 m4 l4 quick-stats-card">
            <div>Total Unique Visitors:</div>
            <h5 class="user_count"><%= @user_count %></h5>
          </div>

          <div class="col s12 m4 l4 quick-stats-card">
            <div>Most Viewed Product:</div>
            <h5 class="most_viewed_product"><%= @most_viewed_product %></h5>
          </div>
        </div>
      
        <!-- card with tabs -->
        <div class="col s12 m12 l12" style="padding:0">
          <div class="card center-align">
            <div class="card-tabs">
              <ul class="tabs">
                <li class="tab"><a href="#tab1">Product</a></li>
                <li class="tab"><a href="#tab2" class="active">Conversion</a></li>
                <li class="tab"><a href="#tab3">Revenue</a></li>
              </ul>
            </div>
            <div class="card-content">
              <div id="tab1">
                Most Purchased Product:
                <h5><%= @most_purchased_product %></h5>
              </div>
              <div id="tab2">
                Conversion Rate:
                <h5><%= @conversion_rate %></h5>
              </div>
              <div id="tab3">
                Total Revenue:
                <h5><%= number_to_currency(@total_revenue) %></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- visitors chart -->
    <div class="col s12 m8 l8">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Website Visitors Per Day</span>
        </div>
        <div class="card-content">
          <canvas id="visits_timeline_chart" height="96px"></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ending row -->


  <!-- beginning row -->
  <div class="row">

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Countries</span>
        </div>
        <div class="card-content">
          <canvas id="countries_chart" height="130"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Product Page Views</span>
        </div>
        <div class="card-content">
          <canvas id="products_chart" height="130"></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ending row -->

  <!-- beginning row -->
  <div class="row">

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Cities</span>
        </div>
        <div class="card-content">
          <canvas id="cities_chart" height="200"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">User Device OS</span>
        </div>
        <div class="card-content">
          <canvas id="device_os_chart" height="200"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">User Device Model</span>
        </div>
        <div class="card-content">
          <canvas id="device_model_chart" height="200"></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ending row  -->
  </div>
</div>