<div ng-app="app">
  <div ng-controller="chartsCtrl" ng-init="dashboardIndexSetup()">

  <!-- beginning row -->
  <div class="row" style="margin: 0">
    <div class="col s12 m12 l12">
      <div class="section-card-title center-align z-depth-1">
        <span class="card-title">Quick Stats</span>
      </div>
    </div>
  </div>
  <!-- ending row -->

  <!-- for medium and small -->
  <!-- beginning row -->
  <div class="row hide-on-large-only">
    <div class="col s12 m12 l12">
      <ul class="collapsible" data-collapsible="accordion">

        <li>
          <div class="collapsible-header center-align">Total Visits</div>
          <div class="collapsible-body">
            <h5 class="center-align visit_count" ><%= @visit_count %></h5>
          </div>
        </li>

        <li>
         <div class="collapsible-header center-align">Total Unique Visitors</div>
         <div class="collapsible-body">
           <h5 class="center-align user_count"><%= @user_count %></h5>
          </div>
        </li>

        <li>
          <div class="collapsible-header center-align">Most Frequent OS</div>
          <div class="collapsible-body">
            <h5 class="center-align most_frequent_os" ><%= @most_frequent_os %></h5>
          </div>
        </li>

        <li>
          <div class="collapsible-header center-align">Most Frequent Device Model</div>
          <div class="collapsible-body">
            <h5 class="center-align most_frequent_model"><%= @most_frequent_model %></h5>
          </div>
        </li>


        <li>
          <div class="collapsible-header center-align">Most Viewed Product</div>
          <div class="collapsible-body">
            <h5 class="center-align most_viewed_product"><%= @most_viewed_product %></h5>
          </div>
        </li>

        <li>
          <div class="collapsible-header center-align">Conversion Rate</div>
          <div class="collapsible-body">
            <h5 class="center-align common_user_city"><%= @conversion_rate %></h5>
          </div>
        </li>

      </ul>
    </div>
  </div>
   <!-- ending row -->

  <!-- for large only -->
  <!-- beginning row -->
  <div class="row hide-on-med-and-down">

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Total Website Visits</div>
        <h5 class="center-align visit_count" ><%= @visit_count %></h5>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Total Unique Visitors</div>
        <h5 class="center-align user_count"><%= @user_count %></h5>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Most Frequent OS</div>
        <h5 class="center-align most_frequent_os" ><%= @most_frequent_os %></h5>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Most Frequent Device Model</div>
        <h5 class="center-align most_frequent_model"><%= @most_frequent_model %></h5>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Most Viewed Product</div>
        <h5 class="center-align most_viewed_product"><%= @most_viewed_product %></h5>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <div class="card-panel">
        <div class="center-align">Monthly Conversion Rate</div>
        <h5 class="center-align common_user_city"><%= @conversion_rate %></h5>
      </div>
    </div>

  </div>
  <!-- ending row -->

  <!-- beginning row -->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Website Visitors Per Day</span>
        </div>
        <div class="card-content">
          <canvas id="visits_timeline_chart" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- ending row -->

  <!-- beginning row -->
  <div class="row">

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Countries</span>
        </div>
        <div class="card-content">
          <canvas id="countries_chart" height="170"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Product Page Views</span>
        </div>
        <div class="card-content">
          <canvas id="products_chart" height="170"></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ending row -->

  <!-- beginning row -->
  <div class="row">

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">Cities</span>
        </div>
        <div class="card-content">
          <canvas id="cities_chart" height="300"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">User Device OS</span>
        </div>
        <div class="card-content">
          <canvas id="device_os_chart" height="300"></canvas>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4">
      <div class="card">
        <div class="section-card-title">
          <span class="card-title">User Device Model</span>
        </div>
        <div class="card-content">
          <canvas id="device_model_chart" height="300"></canvas>
        </div>
      </div>
    </div>

  </div>
  <!-- ending row  -->
  </div>
</div>