<div ng-app="app">
  <div ng-controller="purchasesCtrl" ng-init="purchasesSetup()">

    <div class="row">
      <div class="col s12 m5 l5">
        <div class="card center-align">
          <div class="section-card-title">
            <span class="card-title">Conversion Rates</span>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#tab1" class="active">Monthly</a></li>
              <li class="tab"><a href="#tab2">Bi-Weekly</a></li>
              <li class="tab"><a href="#tab3">Weekly</a></li>
              <li class="tab"><a href="#tab4">Yesterday</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div id="tab1">
              Monthly Conversion Rate
              <h5><%= @monthly_conversion_rate %></h5>
            </div>
            <div id="tab2">
              Bi-Weekly Conversion Rate
              <h5><%= @biweekly_conversion_rate %></h5>
            </div>
            <div id="tab3">
              Weekly Conversion Rate
              <h5><%= @weekly_conversion_rate %></h5>
            </div>
            <div id="tab4">
              Yesterday's Conversion Rate
              <h5><%= @yesterday_conversion_rate %></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l7">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Daily Revenue</span>
          </div>
          <div class="card-content">
            <canvas id="revenue_timeline_chart" height="52px"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 l8">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Daily Number of Transactions</span>
          </div>
          <div class="card-content">
            <canvas id="purchases_timeline_chart" height="45px"></canvas>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card center-align">
          <div class="section-card-title">
            <span class="card-title">Transaction Averages</span>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#tab5" class="active">Items</a></li>
              <li class="tab"><a href="#tab6">Unique Items</a></li>
              <li class="tab"><a href="#tab7">Total</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div id="tab5">
              Average Number of Items Per Transaction
              <h5><%= @avg_items_per_trans %></h5>
            </div>
            <div id="tab6">
              Average Number of Unique Items Per Transaction
              <h5><%= @avg_uniq_items_per_trans %></h5>
            </div>
            <div id="tab7">
              Average Total Per Transaction
              <h5><%= number_to_currency(@avg_total_per_trans) %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Monthly Total Purchase Amounts Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="monthly_amount_chart" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Monthly Total Quantity Purchased Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="monthly_quantity_chart" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Bi-Weekly Total Purchase Amounts Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="biweekly_amount_chart" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Bi-Weekly Total Quantity Purchased Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="biweekly_quantity_chart" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Weekly Total Purchase Amounts Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="weekly_amount_chart" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Weekly Total Quantity Purchased Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="weekly_quantity_chart" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Yesterday Total Purchase Amounts Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="yesterday_amount_chart" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Yesterday Total Quantity Purchased Per Product</span>
          </div>
          <div class="card-content">
            <canvas id="yesterday_quantity_chart" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Number of Purchases Per OS</span>
          </div>
          <div class="card-content">
            <canvas id="os_version_transactions" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Number of Purchases Per Device Type</span>
          </div>
          <div class="card-content">
            <canvas id="device_type_transactions" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Total Revenue Per OS</span>
          </div>
          <div class="card-content">
            <canvas id="os_version_revenue" height="100"></canvas>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="section-card-title">
            <span class="card-title">Total Revenue Per Device Type</span>
          </div>
          <div class="card-content">
            <canvas id="device_type_revenue" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>