<!DOCTYPE html>
<html>
  <head>

    <title>AnalyticsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  </head>

  <body>

    <div class="navbar-fixed">
      <nav class="z-depth-0">
        <div class="nav-wrapper">
          <span class="brand-logo">Dashboard</span>
          <ul id="nav-mobile" class="right hide-on-small-only">
            <li><a href="#" class="waves-effect waves-light"><i class="material-icons right">perm_identity</i>Account</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="material-icons right">settings</i>Settings</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row">
      
      <!-- side navbar for large and medium -->
      <div class="col m2 l2 side-navbar hide-on-small-only" style="padding: 0">
        <ul style="margin: 0">
          <li><a href="/" class="waves-effect waves-light navbar-button" style="border-top: 1px solid #f5f5f5"><i class="material-icons right">dashboard</i>Home</a></li>
          <li><a href="/visit_charts" class="waves-effect waves-light navbar-button"><i class="material-icons right">trending_up</i>Visits</a></li>
          <li><a href="/products" class="waves-effect waves-light navbar-button"><i class="material-icons right">store</i>Products</a></li>
          <li><a href="/user_charts" class="waves-effect waves-light navbar-button"><i class="material-icons right">contacts</i>Users</a></li>
          <li><a href="/location_charts" class="waves-effect waves-light navbar-button"><i class="material-icons right">language</i>Locations</a></li>
          <li><a href="/purchase_charts" class="waves-effect waves-light navbar-button"><i class="material-icons right">payment</i>Purchases</a></li>
        </ul>
      </div>
      
      <!-- side navbar for small -->
      <div class="col s2 side-navbar hide-on-med-and-up" style="padding: 0">
        <ul style="margin: 0" class="center-align">
          <li><a href="/" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Dashboard" style="border-top: 1px solid #f5f5f5"><i class="material-icons">dashboard</i></a></li>
          <li><a href="/visit_charts" class="waves-effect waves-light navbar-button tooltipped"  data-position="right" data-delay="50" data-tooltip="Visits"><i class="material-icons">trending_up</i></a></li>
          <li><a href="/products" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Products"><i class="material-icons">store</i></a></li>
          <li><a href="/user_charts" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Users"><i class="material-icons">contacts</i></a></li>
          <li><a href="/location_charts" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Locations"><i class="material-icons">language</i></a></li>
          <li><a href="/purchase_charts" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Purchases"><i class="material-icons">payment</i></a></li>
          <li><a href="#" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Account"><i class="material-icons">perm_identity</i></a></li>
          <li><a href="#" class="waves-effect waves-light navbar-button tooltipped" data-position="right" data-delay="50" data-tooltip="Settings"><i class="material-icons">settings</i></a></li>
        </ul>
      </div>
      <div class="col s10 m10 l10 push-s2 push-m2 push-l2">
        <br>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
